body{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: black;
    overflow-y: hidden;
}
.div{
    color: orange;
    text-align: left;
    white-space: pre-line;
    text-shadow: 0 0 10px orange, 0 0 20px #ffa500, 0 0 30px orange, 0 0 40px yellow, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;

}
.ascii-art {
    margin-bottom: 10px;
    font-family: 'Courier new', Courier, monospace;
    white-space: pre;
    color: orange;
    text-shadow: 0 0 10px orange, 0 0 10px orange, 0 0 20px orange, 0 0 10px yellow, 0 0 60px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;

}
.ascii-text {
    font-family: 'Courier new', Courier, monospace;
    white-space: pre-line;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    margin-top: -45px;
    align-items: center;
    align-self: center;
    width: 50%;
    color: orange;
    text-shadow: 0 0 10px orange, 0 0 10px orange, 0 0 20px orange, 0 0 10px yellow, 0 0 60px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;

}
.holder{
    border-radius: 50px;
}
[data-role="controls"] > button{
    display: block;
    margin: auto;
    margin-top: 15px;
    text-align: center;
    border: 1px solid orange;
    border-color: orange;
    background-color: black;
    background-image: none;
    cursor: pointer;
    width: 200px;
    height: 40px;
    font-family: 'Courier', Courier, monospace;
    box-shadow: 0 0 10px #ffa500, inset 0 0 10px #ffa500;
    align-self: center;
    text-shadow: 0 0 10px orange, 0 0 10px orange, 0 0 20px orange, 0 0 10px yellow, 0 0 60px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    color: orange;
}
[data-role="controls"] > textarea{
    display: block;
    margin: auto;
    text-align: center;
    border: 1px solid orange;
    border-color: orange;
    background-color: black;
    background-image: none;
    cursor: pointer;
    width: 200px;
    height: 75px;
    margin-bottom: 15px;
    font-family: 'Courier', Courier, monospace;
    box-shadow: 0 0 10px #ffa500, inset 0 0 10px #ffa500;
    align-self: center;
    text-shadow: 0 0 10px orange, 0 0 10px orange, 0 0 20px orange, 0 0 10px yellow, 0 0 60px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    color: orange;
}


.overlay {
position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("Perfect_CRT.png");
  pointer-events: none;
  }

footer{
    color: orange;
    position: fixed;
    text-shadow: 0 0 10px orange, 0 0 10px orange, 0 0 20px orange, 0 0 10px yellow, 0 0 60px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    bottom: 0;
    float: left;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}
